@*@{


    ViewBag.Title = "SideMenu";

}*@


<h2>Medical Menu</h2>

<ul class="list-group">
    <li class="list-group-item"><a href="/Patients/Index" class="btn btn-info btn-block">Face Sheet</a></li>
    <li class="list-group-item"><a href="/PatientProblems/Index" class="btn btn-primary btn-block">Problems</a></li>
    <li class="list-group-item"><a href="/FamilyHistoryMedicals/Index" class="btn btn-primary btn-block">Family Medical History</a></li>
    <li class="list-group-item"><a href="/PatientDrugs/Index" class="btn btn-primary btn-block">Medications</a></li>
    <li class="list-group-item"><a href="/PatientImmunizations/Index" class="btn btn-primary btn-block">Immunizations</a></li>
    <li class="list-group-item"><a href="/PatientAllergies/Index" class="btn btn-primary btn-block">Allergies</a></li>
    <li class="list-group-item"><a href="/Vitals/Index" class="btn btn-primary btn-block">Vitals</a></li>
    <li class="list-group-item"><a href="/NotesMedicalStaffs/Index" class="btn btn-primary btn-block">Notes</a></li>
    <li class="list-group-item"><a href="/AddLabReports/Index" class="btn btn-primary btn-block">External Labs/Studies</a></li>
    <li class="list-group-item"><a href="/CreateOrderInternals/Index" class="btn btn-primary btn-block">Internal Labs/Studies</a></li>
    <li class="list-group-item"><a href="/Demographics/Index" class="btn btn-primary btn-block">Demographics</a></li>
    <li class="list-group-item"><a href="/PatientEmergencyContacts/Index" class="btn btn-primary btn-block">Emergency Contact</a></li>
    <li class="list-group-item"><a href="/PatientInsurances/Index" class="btn btn-primary btn-block">Insurance</a></li>
</ul>


    @*<h1>Medical</h1>
        <ul class=" list-group">
            <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Clinical</a></li>
            <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>

        </ul>

        <h1>Financial</h1>

        <ul class="list-group">
            <li class=" list-group-item-heading">Employees</li>
            <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>
            <li class=" list-group-item-heading">Patients</li>
            <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>
            <li class=" list-group-item-heading">Expenses</li>
            <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>

        </ul>

        <h1>Employee Personal Information</h1>
        <ul class=" list-group">
            <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>

        </ul>
        <h1>Administrator</h1>
        <ul class=" list-group">
            <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>

        </ul>*@


