@model HEAPIFY_540_Software.Models.PatientProblem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient Problem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
            @*@Html.DisplayNameFor(model => model.Patient.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
            @*@Html.DisplayFor(model => model.Patient.FirstName)*@
        </dd>

        <dt>
            Problem
            @*@Html.DisplayNameFor(model => model.Problem.ProblemsName)*@
        </dt>

        <dd>
           
            @Html.DisplayFor(model => model.Problem.ProblemsName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientProblemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
