@model HEAPIFY_540_Software.Models.PatientDrug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientDrug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
            @*@Html.DisplayNameFor(model => model.Patient.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
            @*@Html.DisplayFor(model => model.Patient.FirstName)*@
        </dd>
        <dt>
            Drug
            @*@Html.DisplayNameFor(model => model.Drug.DrugName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drug.DrugName)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientDrugID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
